@import url('https://fonts.googleapis.com/css?family=Inter');

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}


.pmd-heading {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.pmd-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #b92b27;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27);
    text-align: center;
    justify-content: center;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    gap: 26px;

}

.pmd-container .pmd-form-group {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pmd-container .pmd-form-group input {
    width: 500px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background: #fff;
    opacity: .8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    outline: none;

}

.pmd-container .pmd-form-group label {
    font-size: 16px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    outline: none;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.pmd-container .pmd-form-group textarea {
    width: 500px;
    height: 100px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    outline: none;
}

.pmd-container .pmd-form-group button {
    width: 500px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    outline: none;
    cursor: pointer;
}

.pmd-container .pmd-form-group button:hover {
    background: #000;
}

.pmd-container .pmd-form-group button:active {
    background: #3f3f3f;
}


